GEMINI_API_KEY=your_gemini_api_key_here
PEXELS_API_KEY=your_pexels_api_key_here
GROQ_API_KEY=your_groq_api_key_here
PIXABAY_API_KEY=your_pixabay_api_key_here
YOUTUBE_CLIENT_SECRET_FILE=client_secret.json
# Diğer ayarlar
LOG_LEVEL=INFO
