moviepy==1.0.3
google-genai
edge-tts
requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
feedparser
pandas
Pillow
groq
stability-sdk
replicate
pexelsapi
numpy
opencv-python
